@{
    ViewBag.Title = "Promedio de Consumo de Energía";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Promedio de Consumo de Energía</h1>

    <p>El promedio de consumo de energía es: @ViewBag.PromedioConsumoEnergia</p>
</body>
</html>


