
@{
    ViewBag.Title = "Contabilizar Clientes con Mayor Promedio de Agua";
}

<h2>Contabilizar Clientes con Mayor Promedio de Agua</h2>

<div>
    <p>Cantidad de Clientes con Mayor Promedio de Agua: @ViewBag.CantidadClientes</p>
</div>
