@{
    ViewBag.Title = "Cliente con Mayor Consumo de Agua por Periodo";
}

<h2>Cliente con Mayor Consumo de Agua por Periodo</h2>

<div>
    <p>Cliente con Mayor Consumo de Agua por Periodo: @ViewBag.Cliente</p>
</div>

