<!DOCTYPE html>
<html>
<head>
    <title>Calcular Promedio de Consumo de Energía</title>
    <!-- Agrega aquí tus enlaces a las hojas de estilo si las tienes -->
</head>
<body>

    <h2>Calcular Promedio de Consumo de Energía</h2>

    <div>
        <p>Presiona el botón para calcular el promedio de consumo de energía de todos los clientes:</p>
        <form action="@Url.Action("CalcularPromedioConsumoEnergia", "Home")" method="post">
            <input type="submit" value="Calcular Promedio" class="btn btn-primary" />
        </form>
    </div>

</body>
</html>

